{{ partial "header.html" . }}



{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "taxonomy"}}
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 10) }}
<section id="archive" class="archive">
  {{ if not $paginator.HasPrev }}
    {{ if eq .Data.Plural "tags" }}
      <div class="archive-title tag">
        <h2 class="archive-name">{{ i18n "tag" }}{{ .Title }}</h2>
      </div>
    {{ else if eq .Data.Plural "categories" }}
      <div class="archive-title category">
        <h2 class="archive-name">{{ i18n "category" }}{{ .Title }}</h2>
      </div>
    {{ end }}
  {{ end }}

  {{ range $paginator.Pages }}
    <div class="archive-post">
      <span class="archive-post-time">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </span>
      <span class="archive-post-title">
        <a href="{{ .URL }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>
    </div>
  {{ end }}
</section>

<!-- pagination -->
{{ partial "pagination.html" . }}

{{ end }}


{{ block "taxonomy" . }}{{ end }}

<footer class=" footline">
    {{with .Params.LastModifierDisplayName}}
    <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
      </div>
      {{end}}
</footer>


{{ partial "footer.html" . }}
